.header {
    background-color: var(--gm-60);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.linkBlock {
    display: flex;
    height: 100%;
}

.navLink {
    display: inline-flex;
    align-items: center;
    color: var(--text-rv);
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    padding: var(--m2) var(--m3);
}

.navLink:hover {
    background-color: var(--gm-70);
}