.header {
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.linkBlock {
    display: flex;
    height: 100%;
}

.navLink {
    display: inline-flex;
    align-items: center;
}

.navLink:hover {
    background-color: var(--primary-color-dark);
}