.app {
    background-color: var(--bg-color);
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: var(--m8) 1fr;
    grid-template-columns: 1fr;
}

.app .header {    
    grid-column: 1 / 3;
}

.app .footer {
    grid-column: 1 / 3;
}

.main {
    background-color: var(--bg-color);
}

.content {
    min-height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 256px 1fr;
    grid-template-rows: 1fr;
    overflow-x: hidden;
    overflow-y: auto;
}

.pageContent {
    background-color: var(--content-color);
    border-color: transparent;
    border-radius: 8px;
    display: block;
    min-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.aside {
    border-right: 2px solid var(--primary-color);
}