.container {
    position: absolute;
    top: 100px;
    right: var(--m3);
    display: inline-flex;
    flex-direction: column;
}

.notification {
    display: inline-flex;
    height: var(--m6);
    width: 256px;
    overflow: hidden;
}

.notification:not(:last-of-type) {
    margin-bottom: var(--m2);
}

.status {
    width: var(--m5);
    border-top-left-radius: var(--m);
    border-bottom-left-radius: var(--m);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.status.info {
    background-color: var(--sub-content);
}

.status.success {
    background-color: var(--negative-content);
}

.status.warning {
    background-color: var(--warning-content);

}

.status.fail {
    background-color: var(--negative-content);

}

.content {
    flex-grow: 1;
    border: solid var(--add-text);
    border-width: 1px 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.close {
    width: var(--m5);
    border: solid var(--add-text);
    border-width: 1px 1px 1px 0;
    border-top-right-radius: var(--m);
    border-bottom-right-radius: var(--m);
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}