.container {
    position: absolute;
    top: 100px;
    right: var(--m3);
    display: inline-flex;
    flex-direction: column;
    font-size: 16px;
}

.notification {
    display: inline-flex;
    height: var(--m6);
    width: 256px;
    overflow: hidden;
    border: 1px solid var(--sub-content);
    border-radius: var(--m);
    color: var(--text-rv)
}

.notification:not(:last-of-type) {
    margin-bottom: var(--m2);
}

.info {
    background-color: var(--info-content);
}

.success {
    background-color: var(--positive-content);
}

.warning {
    background-color: var(--warning-content);

}

.fail {
    background-color: var(--negative-content);

}

.content {
    flex-grow: 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.close {
    width: var(--m5);
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}