.container {
  display: grid;
  width: 100vw;
  grid-area: page-content;
  grid-template-columns: var(--content-padding) 1fr var(--content-padding);
}

.grid {
  display: grid;
  width: 1240px;
  height: 100%;
  grid-template-columns: var(--side-menu-size) 1fr;
  grid-template-areas: "side-menu content";
  background-color: var(--content-bg-color);
  grid-column-start: 2;
}

.sideMenu {
  grid-area: side-menu;
  height: 100%;
}

.content {
  grid-area: content;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}