:root {
    /*Логотип*/
    --gm-0: #00bea2;
    /*Фон*/
    --gm-10: #c6f5ec;
    --gm-20: #a8eee2;
    --gm-30: #8be7d8;
    --gm-40: #6ddfcd;
    /*Основной светлый*/
    --gm-50: #4fd8c3;
    /*Основной цвет */
    --gm-60: #00c5a8;
    --primary-color: var(--gm-60);
    --gm-70: #00b59a;
    /*Плашка*/
    --gm-80: #00a58d;
    /*Текст, плашка при наведении*/
    --gm-90: #00957f;
    /*Текст при наведении, плашка при нажатии*/
    --gm-100: #008571;
    /*Текст при нажатии*/
    --gm-110: #007564;

    /*Фон*/
    /*Фон для зоны контента*/
    --content: #ffffff;
    /*Фон для блоков, боковой панели, меню второго уровня*/
    --add-content: #f2f2f2;
    /*Фон сервиса, плашки лайтбокса, выбранный пункт списка*/
    --sub-content: #ebebeb;

    /*Текст*/
    /*Текст и иконки на белом фоне*/
    --text: #222222;
    /*Дополнительный текст на белом фоне*/
    --add-text: #858585;
    /*Неактивный текст, ватермарк, доп. иконка на белом фоне*/
    --not-active-text: #adadad;
    /*Текст и иконки на темном фоне*/
    --text-rv: #ffffff;
    /*Дополнительный текст на темном фон*/
    --add-text-rv: rgba(255, 255, 255, 0.48);
    /*Неактивный текст, ватермарк, доп. иконка на темном фоне*/
    --not-active-text-rv: rgba(255, 255, 255, 0.32);

    /*Черный для прозрачности*/
    --black: #000000;

    /*Негативный котекст*/
    /*Фон*/
    --negative-bg: #ffddd6;
    /*Плашка*/
    --negative-content: #dd473b;
    /*Текст, плашка при наведении*/
    --negative-text: #cb3d35;
    /*Текст при наведении, плашка при нажатии*/
    --negative-active: #ba342e;

    /*Положительный котекст*/
    /*Фон*/
    --positive-bg: #d7f8ae;
    /*Плашка*/
    --positive-content: #538a1b;
    /*Текст, плашка при наведении*/
    --positive-text: #477916;
    /*Текст при наведении, плашка при нажатии*/
    --positive-active: #3a6710;

    /*Акцентный контекст*/
    /*Фон*/
    --warning-bg: #ffeec2;
    /*Плашка*/
    --warning-content: #fcb73e;
    /*Текст, плашка при наведении*/
    --warning-text: #fda70c;
    /*Текст при наведении, плашка при нажатии*/
    --warning-active: #f69912;

    /*Размеры*/
    --m: 8px;
    --m2: calc(var(--m) * 2);
    --m3: calc(var(--m) * 3);
    --m4: calc(var(--m) * 4);
    --m5: calc(var(--m) * 5);
    --m6: calc(var(--m) * 6);
    --m7: calc(var(--m) * 7);
    --m8: calc(var(--m) * 8);
}

html,
body {
    height: 100vh;
    width: 100vw;
    font-family: "Roboto", sans-serif;
    color: var(--text);
    font-size: 16px;
}

#__next {
    height: 100%;
    width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: inherit;
    outline: none;
    border: none;
}
