:root {
  --bg-color: #EEF0F2;
  --content-color: #FFFFFF;
  --primary-color: #ED254E;
  --primary-color-dark: #D62045;

  --main-text: rgba(0, 0, 0, .865);
  --main-text_reversed: rgb(256, 256, 256);
  --additional-text: rgba(0, 0, 0, .48);
  --additional-text_reversed: rgba(256, 256, 256, .48);
  --not-active-text: rgba(0, 0, 0, .32);
  --not-active-text_reversed: rgba(256, 256, 256, .32);
  
  --padding: 16px;
}
html,
body {
  height: 100vh;
  width: 100vw;
  font-family: 'Roboto', sans-serif;
}

#__next {
  height: 100%;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--main-text);
}