.header {
  background: var(--secondary-color);
  display: grid;
  grid-template-columns: var(--content-padding) var(--side-menu-size) 1fr 1fr;
}

.logoBlock {
  grid-column-start: 2;
  display: inline-flex;
}