.input {
    border-radius: var(--m);
    border: 2px solid var(--gm-80);
    display: flex;
    width: 100%;
    height: 48px;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
    cursor: text;
    padding: var(--m);
    font-size: 16px;
}

.leftIcon .label {
    left: 40px;
}

.label {
    position: absolute;
    color: var(--add-text);
    transition: all 0.2s ease;
}

input:not(:placeholder-shown) ~ .label,
input:focus ~ .label {
    font-size: 12px;
    transform: translate3d(-14px, -15px, 0) scale(0.75);
}

.leftIcon input {
    margin-left: 4px;
}

.rightIcon input {
    margin-right: 4px;
}

.input input {
    height: 100%;
    font-size: inherit;
}

.icon {
    color: var(--gm-80);
}
