.layout {
  display: grid;
  grid-template-rows: 56px 1fr;
  grid-template-columns: 1fr;
  grid-template-areas:
          "header header"
          "page-content page-content"
          "footer footer";  
  height: 100vh;
  overflow: hidden;
}