.wrapper {
    display: inline-block;
    line-height: normal;
    padding: 1px;
    height: var(--height);
}

.button {
    appearance: none;
    letter-spacing: normal;

    font-family: inherit;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    font-variant: normal;

    text-transform: none;
    text-shadow: none;
    text-align: center;

    cursor: pointer;

    display: inline-block;
    position: relative;

    width: 100%;
    height: 100%;

    --shadow-color: var(--bg-color);
    color: var(--text-color);
    background-color: var(--bg-color);
    box-shadow: var(--shadow-color) 0px 0px 0px 1px;

    font-size: var(--font-size);
    line-height: calc(var(--font-size) + 6px);

    border: initial;
    border-radius: var(--m);
    padding: var(--padding);
}

/*Состояния*/

.button:hover {
    background-color: var(--hover-color);
}

.button:active {
    background-image: none;
    background-color: var(--active-color);
}

.button:disabled {
    cursor: default;
    --shadow-color: var(--disabled-color);
    background-color: var(--disabled-color);
}

.button:active:not(:disabled) .caption {
    transform: translateY(1px);
}

/*Размеры*/

.small {
    --height: var(--m4);
}

.small .button {
    --font-size: 14px;
    --padding: 6px 12px;
}

.medium {
    --height: var(--m5);
}

.medium .button {
    --font-size: 16px;
    --padding: 8px 16px;
}

.large {
    --height: var(--m6);
}

.large .button {
    --font-size: 18px;
    --padding: 12px 20px;
}

/*Содержимое*/

.caption {
    position: relative;
    white-space: nowrap;
    display: inline-block;
    width: 100%;
    vertical-align: top;
}

.iconContainer {
    display: inline-block;
    width: var(--icon-width);
    margin-right: var(--icon-mg);
}

.small .iconContainer {
    --icon-width: 16px;
    --icon-mg: 4px;
}

.medium .iconContainer {
    --icon-width: 20px;
    --icon-mg: 6px;
}

.large .iconContainer {
    --icon-width: 24px;
    --icon-mg: 8px;
}

.icon {
    display: inline-block;
}

/*Вариант*/

.default .button {
    --bg-color: var(--content);
    --shadow-color: rgba(0, 0, 0, 0.16);
    --text-color: var(--text);
    --hover-color: var(--add-content);
    --active-color: #ebebeb;
    --disabled-color: var(--add-content);
}

.primary .button {
    --bg-color: var(--gm-80);
    --active-color: var(--gm-100);
    --text-color: var(--text-rv);
    --hover-color: var(--gm-90);
    --disabled-color: var(--gm-20);
}

.success .button {
    --bg-color: var(--positive-content);
    --text-color: var(--text-rv);
    --hover-color: var(--positive-text);
    --active-color: var(--positive-active);
    --disabled-color: var(--success-bg);
}

.negative .button {
    --bg-color: var(--negative-content);
    --text-color: var(--text-rv);
    --hover-color: var(--negative-text);
    --active-color: var(--negative-active);
    --disabled-color: var(negative-bg);
}

.warning .button {
    --bg-color: var(--warning-content);
    --text-color: var(--text);
    --hover-color: var(--warning-text);
    --active-color: var(--warning-active);
    --disabled-color: var(--warning-bg);
}

.link .button {
    --bg-color: var(--content);
    --text-color: var(--primary-color);
}

.link .button:disabled {
    color: var(--gm-20);
}

.link .button:active {
    --text-color: var(--gm-110);
}

.link .button:hover .caption {
    text-decoration: underline;
    transform: translateY(0);
}

.loading.withoutIcon .content {
    visibility: hidden;
}

.loader {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon > * {
    margin-bottom: -0.1875em;
}
