.button {
    display: flex;
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    height: 40px;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: var(--main-text_reversed);
    padding: var(--padding);
    cursor: pointer;
}

.button:hover {
    background-color: var(--primary-color-dark);
}

.button:disabled {
    background-color: var(--primary-color);
    opacity: .1;
}