$header-height: 54px;

.root {
  overflow: hidden;
}

.content {
  overflow-x: hidden;
  height: calc(100vh - $header-height);
  overflow-y: auto;
  display: flex;
  height: 100%;
  justify-content: center;
}