$header-height: 54px;

.root {
  max-height: 100dvh;
  overflow-x: hidden;
  overflow-y: auto;
}

.content {
  overflow-x: hidden;
  padding-top: $header-height;
  overflow-y: auto;
  display: flex;
  justify-content: center;
}