.loader {
    display: inline-block;
    position: relative;
    width: var(--m2);
    height: var(--m2);
}

.segment {
    display: block;
    position: absolute;
    width: var(--m2);
    height: var(--m2);
    border: 2px solid var(--not-active-text);
    border-radius: 50%;
    animation: rotation 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: var(--not-active-text) transparent transparent transparent;
    animation-delay: var(--delay);
}

.segment:nth-child(1) {
    --delay: -0.45s;
}

.segment:nth-child(2) {
    --delay: -0.3s;
}

.segment:nth-child(3) {
    --delay: -0.15s;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
